/* FORMATO GENERAL DE LA PAGINA */

*{
    margin: 0; /* NADA DE MARGENES EN EL NAVEGADOR */
    padding: 0; /* NADA DE ESPACIOS ENTRE EL NAVEGADOR Y EL DISEÑO */
    box-sizing: border-box; /* hace que el padding y el border pasen a formar parte del cálculo del ancho de la caja y no lo suman posteriormente */
    font-family: sans-serif; /* SE ESTABLECE FAMILIA DE FUENTES */
}

/* FORMATO PARA EL BODY */

body{ 
    display: flex; /* PROPIEDAD DE FLEX BOX QUE SI NO LA UTILIZAMOS NO SIRVEN LAS DEMAS LINEAS DE CODIGO DE AJUSTE DE ESTILO DEL BODY */
    height: 100vh; /* LA ALTURA DEL ELEMENTO ES IGUAL AL 100% DE LA ALTURA DE LA VENTANA GRAFICA */
    justify-content: center; /* ALINEA EN EL CENTRO LOS ELEMENTOS */
    align-items: center;/* ALINEA AL MEDIO DE LA PANTALLA  */
    padding: 10px; /* ESPACIO ENTRE LOS ELEMENTOS Y EL CONTENEDOR */
    background: linear-gradient(135deg, #71b7e6, #9b59b6); /* COLOR DEL FONDO CON GRADIENTE */
}

/* FORMATO INTERIOR DEL DIV GENERAL QUE CONTIENE TODO */

.container{
    max-width: 700px; /* TAMAÑO MAXIMO DEL CONTENEDOR DEL FORMULARIO */
    width: 100%; /* ANCHO QUE VA A OCUPAR DENTRO DE SU TAMAÑO */
    background: #fff; /* COLOR DEL FONDO DEL FORMULARIO */
    padding: 25px 30px; /* ESPACIOS A LA DERECHA, IZQUIERDA, ARRIBA Y ABAJO */
    border-radius: 20px; /* REDONDEA LAS ESQUINAS DEL DIV CONTENEDOR DEL FORMULARIO */
}

.container .title{
    font-size: 25px; /* TAMAÑO DE LA FUENTE */
    font-weight: 500; /* GROSSOR DE LA FUENTE */
    position: relative; /* POSICION DE LA FUENTE, EN ESTE CASO SI NO LO PONEMOS QUEDARIA AL MEDIO */
}

.container .title::before{
    content: ''; /* DEFINE QUE EL CONTENIDO VA A SER UN STRING DE TEXTO */
    position: absolute; /* SE USA PARA LUEGO ESTABLECER LA POSICION EN LA QUE SE MUESTRA EL ELEMENTO DENTRO DE LA CAJA */
    left: 0; 
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px; 
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-width: 3px;
    transition: all 0.5s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}

form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-details .category label{
    display: flex;
    align-items: center;
}

.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two{
    border-color: #d9d9d9;
    background: #9b59b6;
}

form input[type="radio"]{
    display: none;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

/* RESONSIVE */

@media (max-width: 584px){
    .container{
        max-width: 100%;       
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}